<nav class="navbar navbar-expand-lg  ">
    <div class="container">
        
<img src="../../assets/png-clipart-pub-on-the-cedar-logo-bar-cider-beer-label-cafe.png" alt="" >

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a routerLink="" class="nav-link" id="home">Inicio </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="../catalogo" id="portafolio">Catálogo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href=""> Login
      
    </a>

  </li>
 
  <li class="nav-item">
    <a class="nav-link" href="#footer" id="disabled" >Nosotros</a>
  </li>
  <img src="imagenes/png-clipart-shopping-cart-shopping-cart.png" class="carrito" alt="">
  
</ul>

</div>
</div>
</nav>
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1s"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2s"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active"style="background-image:url('../../assets/gente-tomando-cerveza-900x485.jpg')">
       
        <div class="banner">
          <div class="content-center topmargin-lg">
            <section id="hero">
            
            <h1>
                ¡LA MEJOR CERVEZA AL ALCANCE DE TU MANO!
            </h1>
             <p class="parr">
                 Descubre el sabor y frescura de la cerveza, la mejor compañía para compartir momentos inolvidables entre amigos.
                 
             </p>
             <p>  
                   <br>   
               <a routerLink="/catalogo" class="btn btn-light topmargin-lg">Explorar ahora <i class="icon ion-md-arrow-dropright-circle"></i>
               </a>
         </p>
        </section>
            
         </div>
        </div>
      </div>
      <div class="carousel-item"style="background-image:url('../../assets/gente-tomando-cerveza 2.jpg')">
       
        <div class="banner">
          <div class="content-center topmargin-lg">
            <section id="hero">
            <h1>
                ¿BUSCAS DISFRUTR DE UNA BUENA CERVEZA?
            </h1>
             <p class="parr">
              Disfruta de la gran variedad de cervezas importadas y nacionales que tenemos para ti. 
                 
             </p>
             <p>  
                   <br>   
               <a routerLink="/catalogo" class="btn btn-light topmargin-lg">Explorar ahora <i class="icon ion-md-arrow-dropright-circle"></i>
               </a>
         </p>
        </section>
            
         </div>
        </div>
      </div>
      <div class="carousel-item"style="background-image:url('../../assets/gente-tomando-cerveza 3.jpg')"  >
        
        <div class="banner">
          <div class="content-center topmargin-lg">
            <section id="hero">
            <h1>
                ¡ENTÉRATE DE LAS MEJORES OFERTAS!
            </h1>
             <p class="parr">
              Encuentra en BEEЯ las mejores marcas de cervezas, ingresa ahora y conoce todo el portafolio de productos que tenemos.
                 
             </p>
             <p>  
                   <br>   
               <a routerLink="/catalogo" class="btn btn-light topmargin-lg">Explorar ahora <i class="icon ion-md-arrow-dropright-circle"></i>
               </a>
         </p>
        </section>
            
         </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  <div class="main-content">
    <div class="left box">
      <h2>
Nosotros</h2>
<div class="content">
        <p>
          BEEЯ, hace parte de la única asociación colombiana que pertenece a la Federación Internacional de Vinos y Espirituosos (FIVS), organización que fomenta el intercambio de información y de buenas prácticas en el sector.</p>
<div class="social">
          <a href="https://facebook.com"><span class="fab fa-facebook-f"></span></a>
          <a href="https://twitter.com"><span class="fab fa-twitter"></span></a>
          <a href="https://instagram.com"><span class="fab fa-instagram"></span></a>
          <a href="https://youtube.com"><span class="fab fa-youtube"></span></a>
        </div>
</div>
</div>
<div class="center box">
      <h2>
Dirección</h2>
<div class="content">
        <div class="place">
          <span class="fas fa-map-marker-alt"></span>
          <span class="text">Valledupar, Cesar</span>
        </div>
<div class="phone">
          <span class="fas fa-phone-alt"></span>
          <span class="text">+057-3022241850</span>
        </div>
<div class="email">
          <span class="fas fa-envelope"></span>
          <span class="text">beer@gmail.com</span>
        </div>
</div>
</div>


