
   

    <nav class="navbar navbar-expand-lg  ">
        <div class="container">
  <a class="navbar-brand" href="index.html"><img src="../../assets/png-clipart-pub-on-the-cedar-logo-bar-cider-beer-label-cafe.png" alt="logoempresa" class=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="index.html" id="home">Inicio </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/catalogo" id="portafolio">Catálogo</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="#footer" id="disabled" >Nosotros</a>
      </li>
    </ul>
   
  </div>
</div>
</nav>

<div class="banner2">
  <div>
  <img src="../../assets/8a1ad8af9def8f9edbc84b78f55a04e4.jpg" class="img-fluid" alt="banner2">
</div>
</div>

<section id="portafolio">
  <div class="container-fluid">
    <div class="content-center1">
      <h2>
        Acompaña tus celebraciones con las mejores cervezas del mercado.
      </h2>
      <p>
        El exceso de alcohol es perjudicial para la salud. Prohíbase el expendio de bebidas embriagantes a menores de edad.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="portafolio-container">
          <div class="portafolio-details">
            <a href="#">
              <h2>
                Cerveza Águila
              </h2>
            </a>
            <a href="#">
              <p>
                Precio: 2.800 COP
              </p>
            </a>


          </div>
          <img src="../../assets/aguila2.jpg" alt="imagen de cerveza aguila" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6">
        <div class="portafolio-container">
          <div class="portafolio-details">
            <a href="#">
              <h2>
                Cerveza BBC
              </h2>
            </a>
            <a href="#">
              <p>
                Precio: 6.000 COP
              </p>
            </a>


          </div>
          <img src="../../assets/Cerveza-BBC-Cajicá.jpg" alt="imagen de cerveza aguila" class="img-fluid">
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="portafolio-container">
          <div class="portafolio-details">
            <a href="#">
              <h2>
                Cerveza Poker 
              </h2>
            </a>
            <a href="#">
              <p>
                Precio: 3.000COP
              </p>
            </a>


          </div>
          <img src="../../assets/Cerveza-Poker.jpg" alt="imagen de cerveza aguila" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6">
        <div class="portafolio-container">
          <div class="portafolio-details">
            <a href="#">
              <h2>
                Cerveza Heineken
              </h2>
            </a>
            <a href="#">
              <p>
                Precio: 3.500 COP
              </p>
            </a>


          </div>
          <img src="../../assets/gf5XhF5.jpg" alt="imagen de cerveza aguila" class="img-fluid">
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="portafolio-container">
          <div class="portafolio-details">
            <a href="#">
              <h2>
                Cerveza Smirnoff
              </h2>
            </a>
            <a href="#">
              <p>
                Precio: 6.500 COP
              </p>
            </a>


          </div>
          <img src="../../assets/smirnoff.jpg" alt="imagen de cerveza aguila" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6">
        <div class="portafolio-container">
          <div class="portafolio-details">
            <a href="#">
              <h2>
                Cerveza Club Colombia
              </h2>
            </a>
            <a href="#">
              <p>
                Precio: 3.000 COP
              </p>
            </a>


          </div>
          <img src="../../assets/bebclubdor1.jpg" alt="imagen de cerveza aguila" class="img-fluid">
        </div>
      </div>
      
   
    </div>
  </div>
  
</section>